* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(5, 3, 68, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

#result {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 30px 10px;
}

select {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 100px;
  height: 38px;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding-left: 18px;
}
